<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="text-center">
        <h1>Gregslist</h1>
        <h2>Please choose a listing!</h2>
        <nav>
          <a class="mx-1 home-link" href="#/cars">
            <button class="btn btn-success">Cars 🏎️</button>
          </a>
          <a class="mx-1 home-link" href="#/houses">
            <button class="btn btn-success">Houses 🏠</button>
          </a>
          <a class="mx-1 home-link" href="#/jobs">
            <button class="btn btn-success">Jobs 💼</button>
          </a>
        </nav>
      </div>
    </div>
  </div>
</div>