<div class="container">

  <section class="row">
    <div class="col-12">
      <h1 class="text-center">
        Houses
      </h1>
    </div>
  </section>

  <section id="houseListings" class="row">
    <div class="col-12 house-card shadow">
      <div class="row">
        <div class="col-12 col-md-6 px-0 ps-md-0">
          <img class="img-fluid"
            src="https://images.unsplash.com/photo-1570129477492-45c003edd2be?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8aG91c2V8ZW58MHx8MHx8fDA%3D"
            alt="White House with Porch">
        </div>
        <div class="col-12 col-md-6 d-flex flex-column justify-content-between">
          <div class="">
            <h2 class="fs-3 fw-bold">Sketchy Price for the Square Footage</h2>
            <h2 class="fs-3 text-end">Super Real Address</h2>
            <hr>
            <h2 class="fs-4">Bedroom and Bathroom number</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore, sapiente culpa rem voluptas veniam
              alias
              recusandae accusamus architecto veritatis doloremque.</p>
            <p class="fw-bold">Square Footage</p>
          </div>
          <div class="d-flex justify-content-between align-items-center mb-2 ">
            <p class="mb-0">Date Posted</p>
            <button class="btn btn-primary">Contact Seller</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>